project:
  type: book

book:
  title: "manuscript"
  author: "Norah Jones"
  date: "2/16/2026"
  chapters:
    - index.qmd
    - 01-intro.qmd
    - 02-gg09.qmd
  appendices:
    - 11-apdx-gg09.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt

execute:
  freeze: auto
  echo: false
  message: false
  warning: false

